.identity.json

venv/*
*.pyc
*.pyo
*.pdf
*.out

truthful_counterfactuals/experiments/results/*
truthful_counterfactuals/experiments/*.sh
truthful_counterfactuals/experiments/*.tex
truthful_counterfactuals/assets/*
*/results/*
*/lightning_logs/*
lightning_logs/*
.vscode/*
__pycache__/*
.pytest_cache/*
.cache/*

tests/artifacts/*