.identity.json
venv/*
experiments/**/assets/*
truthful_counterfactuals/experiments/assets/*
truthful_counterfactuals/experiments/results/*
experiments/**/results/*
*lightning_logs*
*__pycache__*

*.out